# Web Framework and Server
Flask
gunicorn
werkzeug

# For reading PDF files
PyMuPDF

# For loading secret keys from a .env file
python-dotenv

# API Libraries
groq
google-api-python-client
google-auth-oauthlib
google-auth-httplib2
